@import "main.scss";

.breadcrumb {
  font-family: monospace;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  opacity: 0.7;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .current {
    opacity: 0.6;
  }
}

html[dir="rtl"] .breadcrumb {
  direction: ltr;
  text-align: left;
}
