{{- $url := urls.Parse .Permalink -}}
{{- $path := split (trim $url.Path "/") "/" -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "crumbs" slice -}}

{{- if .IsHome -}}
<nav class="breadcrumb">{{ $.Site.Params.theme_config.back_home_text }}/</nav>
{{- else -}}
<nav class="breadcrumb">
  <a href="{{ "/" | relURL }}">{{ $.Site.Params.theme_config.back_home_text }}</a>/
  {{- range $index, $element := $path -}}
    {{- if ne $element "" -}}
      {{- $scratch.Add "crumbs" $element -}}
      {{- $builtPath := delimit ($scratch.Get "crumbs") "/" -}}
      {{- $fullPath := printf "/%s/" $builtPath -}}
      {{- if lt $index (sub (len $path) 1) -}}
        <a href="{{ $fullPath | relURL }}">{{ $element }}</a>/
      {{- end -}}
    {{- end -}}
  {{- end -}}
</nav>
{{- end -}}
